/.DS_Store
/AllChildandParentTags.docx
/AllTags.xlsx
/ChildandParentTagsTables.docx
/ChildlessTags.docx
/excelNew.xlsx
/orphanReport.docx
/Tags&Requirements.xlsx
/Targest.py
/TBDReport.docx
/TBVReport.docx
/tempCodeRunnerFile.py
/__pycache__